.background {
    -fx-background-image: url("../img/forest.jpg");
}

.background2 {
    -fx-background-image: url("../img/space.png");
}

.arrowu {
    -fx-background-image: url("../img/arrowu.png");
}

.arrowd {
    -fx-background-image: url("../img/arrowd.png");
}

.arrowr {
    -fx-background-image: url("../img/arrowr.png");
}

.arrowl {
    -fx-background-image: url("../img/arrowl.png");
}

.Dababy {
    -fx-background-image: url("../img/Golem.png");
    -fx-border-color: #333333;
    -fx-border-width: 1.5px;
}

.JackFrost {
    -fx-background-image: url("../img/Bufumon.png");
    -fx-border-color: #333333;
    -fx-border-width: 1.5px;
}

.Waluigi {
    -fx-background-image: url("../img/Koikingu.png");
    -fx-border-color: #333333;
    -fx-border-width: 1.5px;
}